@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');


//@font-face {
//    font-family: 'ALS Script';
//    src: url('../../fonts/ALSScript.woff2') format('woff2'),
//        url('../../fonts/ALSScript.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}

@font-face {
    font-family: "ALS";
    src: url(../../fonts/ALSSchlangesans.woff);
    font-weight: normal;
}

@font-face {
    font-family: "ALS";
    src: url(../../fonts/ALSSchlangesans-Bold.woff);
    font-weight: bold;
}
