@import "core/normalize.scss";
@import "core/fonts.scss";
@import "core/mixins.scss";
@import "core/core.scss";

* {
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.fluid-column-center {
    width: 98%;
    max-width: 1400px;
    margin: 0 auto;
}

.main-page {
    position: relative;

    .cart {
        padding: 60px 0;


        .wrap-cart {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            font-family: "ALS";

            .left-part {
                max-width: 960px;
                width: 100%;
                margin-right: 40px;


                //========== cart
                .cart-item,
                .head-cart {
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    justify-content: space-around;
                    background: #fff;
                    margin-bottom: 3px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 7px rgba(175, 175, 175, 0.5);
                    font-size: 24px;

                    .col-head {
                        max-width: 25%;
                        width: 100%;
                        text-align: center;
                    }
                }

                //============== head

                .head-cart {
                    position: relative;
                    z-index: 1;
                    height: 40px;
                    align-items: baseline;
                    line-height: 40px;



                    .head-title {
                        font-size: 22px;
                        text-align: center;
                        font-weight: bold;
                        max-width: 20%;
                    }

                    .price-item,
                    .number-of-item,
                    .name-item {
                        font-size: 18px;
                        font-weight: normal;
                        color: #676767;
                    }

                    .name-item {
                        max-width: 30%;

                    }

                    .number-of-item {
                        max-width: 28%;
                    }

                    .price-item {
                        max-width: 22%;

                    }
                }


                //=============== body

                .cart-item {
                    padding: 20px 0px;
                    position: relative;
                    min-height: 195px;
                    //                    align-items: center;                  align-items: flex-start;

                    .name-item {
                        font-size: 18px;
                        font-weight: bold;
                        text-align: justify;
                        margin-top: 30px;
                        max-width: 30%;
                    }

                    .remove {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        max-width: 30px;
                        z-index: 1;
                    }

                    .img-item {
                        max-width: 20%;

                        img {
                            max-width: 88px;
                        }
                    }

                    .price-item {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        max-width: 22%;

                        p {
                            margin: 5px 0;
                        }

                        p:nth-of-type(2) {
                            font-size: 30px;
                            font-weight: bold;
                            margin-top: 20px;
                        }

                        .red-price {
                            display: none;
                        }

                        .hidden-price {
                            display: none;
                        }

                        .price-one {
                            opacity: 0;
                            font-family: "ALS";
                            font-weight: bold;
                            font-size: 15px;
                            color: #676767;
                            transition: .2s;
                        }

                        .price {
                            position: relative;
                            font-family: "ALS";
                            font-weight: bold;
                        }



                    }

                    .number-of-item {
                        margin-top: 30px;
                        max-width: 28%;

                        .wrap-count {
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .change-count {
                                display: inline-block;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                border: 1px solid #000;
                                position: relative;

                            }

                            .count {
                                margin: 0 30px;
                                font-weight: bold;
                                font-size: 30px;
                            }

                            .change-count.disabled:after,
                            .change-count.disabled {
                                opacity: 0.3;
                                pointer-events: none;
                            }

                            .change-count:after {
                                content: '';
                                position: absolute;
                                display: block;
                                height: 2px;
                                width: 22px;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                top: 50%;
                                background: #000;
                            }

                            .change-count.plus:before {
                                content: '';
                                position: absolute;
                                display: block;
                                height: 22px;
                                width: 2px;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                top: 50%;
                                background: #000;
                            }
                        }
                    }

                }

                .cart-item.discount-item {
                    .price-item {
                        position: relative;

                        p:nth-of-type(2) {
                            font-size: 24px;
                            font-weight: bold;
                            position: absolute;
                            top: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        .red-price {
                            margin-top: 20px;
                            display: block;
                            color: #ff0000;
                            font-weight: bold;
                            font-size: 30px;
                        }

                        .price.akcia:after {
                            content: '';
                            position: absolute;
                            left: -10%;
                            top: 50%;
                            height: 2px;
                            width: calc(120% + 20px);
                            display: block;
                            background: #ff0000;
                            transform: rotate(-10deg);
                        }

                    }

                }
            }

            .right-part {

                //                max-width: 370px;
                max-width: 400px;
                width: 100%;


                .wrap-form {
                    background: #fff;
                    overflow: hidden;
                    border-radius: 8px;
                    box-shadow: 0px 0px 7px rgba(175, 175, 175, 0.5);

                    form {
                        input {
                            border: none;
                        }

                        input[type='submit'] {
                            background: #de4d3a;
                            color: #fff;
                            display: inline-block;
                            max-width: 440px;
                            height: 78px;
                            width: 100%;
                            border-radius: 8px;
                            cursor: pointer;
                        }

                        .fields-wrap {
                            padding: 10px 25px;

                            p {
                                display: -webkit-flex;
                                display: -moz-flex;
                                display: -ms-flex;
                                display: -o-flex;
                                display: flex;
                                justify-content: space-between;
                                font-family: "ALS";
                                font-size: 12px;
                                align-items: baseline;

                                span {
                                    font-weight: bold;
                                }
                            }

                            .price-without-discount-wrap {
                                font-size: 24px;
                                font-family: "ALS";
                                font-weight: bold;
                                position: relative;
                            }

                            .price-without-discount {
                                margin: 0;
                            }

                            .price-without-discount-wrap:after {
                                content: '';
                                display: block;
                                position: absolute;
                                left: -10%;
                                top: calc(50% - 2px);
                                transform: rotate(-10deg);
                                width: 120%;
                                height: 2px;
                                background: #ff0000;

                            }

                            .wrap-result {
                                font-size: 30px;
                                font-family: "ALS";
                                font-weight: bold;
                            }

                            #form-result {
                                display: none;

                            }

                            .discount-wrap,
                            .total-price {
                                font-size: 18px;
                            }

                            .discount-wrap {
                                color: #ff0000;
                            }
                        }

                        .submit-wrap {
                            margin: 0;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 25px;
                            background: #f8f8f8;
                        }
                    }
                }
            }
        }
    }

}

.main-page:after {
    position: absolute;
    background: #F1EFEB;
    top: 0;
    width: 160%;
    min-height: 100vh;
    height: 100%;
    left: -30%;
    content: "";
    z-index: -1;
}

#cart {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}



@media screen and (max-width: 800px) {
    .main-page .cart .wrap-cart {
        flex-direction: column;
    }
}
